header{
    padding: 20px;
    background-color: rgb(80, 68, 69);
    text-align: center;
    color: white;
    margin-bottom: 5px;
}
title{
    text-align: center;
}
img{
    max-width: 100%;
}
.indicaciones{
    text-align: center;
}
form{
    max-width: 800px;
    padding: 20px;
    margin: auto;
    justify-content: space-between;
}
.contenedor{
    display: flex;
}
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
.form-column {
    width: 48%; /* Puedes ajustar este porcentaje según el espacio que necesites */
}
